h1 .span1 {
  color: $custom_color4 !important;
}
h1 span.span2 {
  color: $custom_color5 !important;
}
h1 span.span3 {
  color: $custom_color3 !important;
}
h1 span.span4 {
  color: $custom_color4 !important;
}
h1 span.span5 {
  color: $custom_color5 !important;
}
h1 span.span6 {
  color: $custom_color5 !important;
}
h1 span.span7 {
  color: $custom_color3 !important;
}
h1 span.span8 {
  color: $custom_color4 !important;
}
h1 span.span9 {
  color: $custom_color5 !important;
}
.imgsize {
  width: 100%;
}

// .bi {
//   padding: 0;
// }
