// עריכה של אזור החסות

.aside {
  direction: rtl;
  margin-right: 2%;
  margin-top: 15%;
  position: relative;
}
.card {
  padding: 10px;
}
.logo-size {
  width: 134px;
  height: 134px;
}

// עריכה מילות פתיחה על הארוע
div.about {
  text-align: right;
}
.h2 {
  text-align: right;
}
.pabout {
  font-size: 1.3em;
  color: $custom_color1;
}
// header .carousel-inner {
//   object-fit: cover;
//   object-position: center;
//   height: 50vh;
//   overflow: hidden;
// }
.slider-height {
  object-fit: cover;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}
// עריכה של כותרת
h2 .span1 {
  color: $custom_color4 !important;
}
h2 span.span2 {
  color: $custom_color5 !important;
}
h2 span.span3 {
  color: $custom_color3 !important;
}
h2 span.span4 {
  color: $custom_color4 !important;
}
h2 span.span5 {
  color: $custom_color5 !important;
}
h2 span.span6 {
  color: $custom_color5 !important;
}
h2 span.span7 {
  color: $custom_color3 !important;
}
h2 span.span8 {
  color: $custom_color4 !important;
}
h2 span.span9 {
  color: $custom_color5 !important;
}
